cffi
ruamel.yaml.clib
soundfile
annotated_types
certifi
charset-normalizer
colorama
filelock
huggingface-hub
HyperPyYAML
idna
lazy_loader
librosa
numpy
packaging
pydantic
requests
scipy
sentencepiece
speechbrain
torch
torchaudio
tqdm
typing_extensions
urllib3
PyYAML
