Cython
pillow
ruamel.yaml.clib
accelerate
addict
annotated_types
attr
attrs
av
babel
blis
catalogue
click
colorama
confection
csvw
curated-tokenizers
curated-transformers
cymem
python-dateutil
espeakng_loader
exceptiongroup
huggingface-hub
idna
isodate
jinja2
joblib
jsonschema
jsonschema_specifications
kokoro
langcodes
language-tags
loguru
markdown_it
MarkupSafe
mdurl
misaki
murmurhash
num2words
numpy
packaging
phonemizer
preshed
psutil
pydantic
pydantic_core
pygments
pytz
rdflib
referencing
regex
requests
rfc3986
rich
rpds
safetensors
scipy
segments
sentencepiece
shellingham
six
soundfile
spacy
spacy-curated-transformers
srsly
sympy
thinc
tokenizers
torch
torchvision
tqdm
transformers
typer
typing_extensions
uritemplate
urllib3
wasabi
weasel
win32_setctime
PyYAML
