setuptools
pywin32
absl
annotated_types
antlr4-python3-runtime
attr
av
backports.tarfile
bitarray
colorama
distutils
fairseq
faiss-cpu
fsspec
hydra-core
librosa
llvmlite
lxml
more_itertools
mpmath
numba
numpy
omegaconf
packaging
parselmouth
portalocker
pydantic
pyworld
requests
resampy
rvc_python
sacrebleu
scipy
soundfile
sympy
tabulate
tensorboard
tensorboardX
threadpoolctl
torch
torchaudio
torchcrepe
tqdm
typing_extensions
wcwidth
PyYAML
